<div class="span4"></div>

<div class="span10">
<br />
<br />

<div class="hero-unit">
<h3>About FacterVision</h3>

<br />

<p>FacterVision allows you to upload Facter facts.</p>

<p>It can be triggered via the <a href="<%= url('/api') %>">API</a>.</p>

<h4>Changes</h4>

<br />

<p><b>v0.0.1</b></p>
<p>Initial release.</p>

</div>

<br />
<br />
</div>
