<div class="span6">
<br />
<br />

<div class="hero-unit">
  <h3>Welcome to FacterVision</h3>
  <p>FacterVision uploads your facts to a data store. You can <a href="<%= url('/signup') %>">signup here</a>.</p>
</div>
</div>

