<div class="span4"></div>

<div class="span10">
<br />

<%= styled_flash %>

<br />
<br />

<div class="hero-unit">

  <h3>Signup to FacterVision</h3>

<br />

<p>Enter your email address.</p>

<form action="/signup/add" method="post" enctype="multipart/form-data" class="well">
<input id="email" name="email" type="text"> <input class="btn btn-success"
type="submit" value="Submit email" /> </form>

</div>

<br />
<br />
</div>
